.purchase-history-div {
    color: white;
}

.purchase-history-table-div {
    /* width: 80%; */
    /* background-color: white; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
