.course-view-div {
    color: white;
    margin-top: 1.5rem;
    width: 80%;
}

.player-wrapper {
    position: relative;
    /* padding-top: 56.25%; */
    /* Player ratio: 100 / (1280 / 720) */
    margin-top: 1.5rem;
}

.course-content-div{
    margin-top: 1.5rem;
}

/* .react-player {
    position: absolute;
    top: 0;
    left: 0;
} */