.card{
    margin : 1rem;
}

.card-holder-div{

    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.card-holder-div .card-img{

    width: 15rem;
    /* height: 15rem; */
    height: 15rem;
}

.course-card .rating-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.course-card .rating-div .star-svg{
    padding-bottom: 0.4rem;
}

.course-card .btn{

    margin-top : 1rem;
}
