.App{
    /* background-repeat: no-repeat; */
    /* background-image: url("/public/bg_img_2.webp"); */
    /* background-image: url("/public/tile-gec7c9cae1_1920.jpg"); */
    background-image: url("/public/background-g31a935256_1920.jpg");
}

html{
    /* background-repeat: no-repeat; */
    /* background-image: url("/public/bg_img_2.webp"); */
    /* background-image: url("/public/tile-gec7c9cae1_1920.jpg"); */
    background-image: url("/public/background-g31a935256_1920.jpg");
}